body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  .review-form {
    margin-bottom: 20px;
  }

  .review-form label {
    font-weight: bold;
  }

  .review-form input[type="radio"] {
    display: none;
  }

  .review-form label .fa-star {
    color: #ddd;
    font-size: 24px;
    cursor: pointer;
  }

  .review-form input[type="radio"]:checked ~ label .fa-star {
    color: #f90;
  }

  .review-form textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
  }

  .review-submit {
    display: block;
    padding: 10px 20px;
    background-color: #f90;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .review-submit:hover {
    background-color: #f60;
  }

  .review-container {
    margin-top: 20px;
  }

  .review {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }

  .review h3 {
    margin-top: 0;
  }

  .review p {
    margin-bottom: 10px;
  }
